[Unit]
Description=word-manage-backend
After=network.target

[Service]
Type=forking
ExecStartPre=/usr/bin/sleep 30
ExecStart=/app/word-manage-backend/service/bin/start.sh start test >/dev/null 2>&1 &
ExecReload=/app/word-manage-backend/service/bin/start.sh restart test >/dev/null 2>&1 &
ExecStop=/app/word-manage-backend/service/bin/shutdown.sh
Restart=always
RestartSec=2
PrivateTmp=true

[Install]
WantedBy=multi-user.target